<div class="ma-container">
    <ma-menu #menu [isOpen]="menuIsOpen">
        <ma-menu-content [title]="menuTitle"></ma-menu-content>
    </ma-menu>
    <div class="content">
        <div class="content-body" [ngClass]="{'content-body-menu' : menuIsOpen}">
        <div class="header">
            <div class="menu-toggler" (click)="toggle()">
                <i class="pi pi-bars"></i>
            </div>
        </div>
        <main>
            <div class="content-text">
                <h2>Toggle Sidebar Navigation</h2>
                <h3>html css javascript</h3>
            </div>
        </main>
        </div>
    </div>
</div>