@import "src/styles/app/vars";

.sideMenu {
  height: 100%;
  width: 0;
  background: #121212;
  overflow-x: hidden;
  transition: .4s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;

    i {
      padding-right: 15px;
    }
  }
}

.main-menu h2 {
  text-align: center;
  letter-spacing: 7px;
  color: white;
  background: #3d4687;
  padding: 20px 0;
  height: $header-height;
}

.main-menu a:hover {
  color: white;
  background: #878787;
}

.is-open {
  width: 300px;
}