<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-start">
    <li class="nav-item">
        <a ngbNavLink routerLink="/">
            <div>Home</div>
        </a>
    </li>
    <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Separated link</button>
        </div>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

