@import "src/styles/app/vars";

body {
  margin: 0;
  font-family: Arial, "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  font-size: 16px;
}

.ma-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  transition: margin-left .5s;
  flex: auto;
}

.content-text {
  padding: 100px 180px;
  text-align: center;

  h2 {
    background: #478cff;
    display: inline-block;
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
  }

  h3 {
    text-transform: uppercase;
    font-size: 45px;
    margin: 0;
    letter-spacing: 3px;
  }
}

a {
  cursor: pointer;
}

.header {
  position: absolute;
  height: $header-height;
  width: 100%;
}

.content-body {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: $time-menu;

  &-menu {
    width: calc(100% - #{$menu-with})
  }
}

.test-block {
  position: absolute;
  right: 20%;
  top: 10%;
  height: 250%;
  width: 20%;
  background-color: #3d4687;
}

.menu-toggler {
  height: 55px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  background-color: #a6a6a6;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 3px;

  i {
    display: block;
    font-size: 45px;
    margin: auto;
    color: #373737
  }
}

.menu-toggler:hover {
  background-color: #353535;
  i:hover {
    color: #cac9ff
  }
}
