<div class="dashboard-container" (drop)="handleDrop($event)">
    <div class="flex-container shadow-box" #flexBox
         (dragstart)="start($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="handleDrop($event)"
         (dragend)="end($event, flexBox)"
         (dragexit)="exit($event)"
         draggable="true"
    >flex-container
    </div>
    <div class="drop-box shadow-box" #dropBox
         (drop)="handleDrop($event)"
         (dragover)="setDropBoxForHTML($event, dropBox)"
         (dragleave)="killBox()"
    ></div>
</div>
